<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.upm.miw.firebase">

    <uses-permission
        android:name="android.permission.INTERNET"/>

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="es.upm.miw.firebase.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="es.upm.miw.firebase.DeliveryActivity"
            android:parentActivityName=".MainActivity">
        </activity>

        <activity android:name="es.upm.miw.firebase.UserProfileActivity"
            android:parentActivityName=".DeliveryActivity">
        </activity>

        <activity android:name="es.upm.miw.firebase.DeliveryList"
            android:parentActivityName=".DeliveryActivity">
        </activity>

    </application>

</manifest>
